 body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   transition: background-color 0.5s;

 }

 .Colored-White {
   background-color: #fff;
   color: #000;
 }

 .Colored-Dark {
   background-color: #000;
   color: #fff;
 }

 .Colored-Blue {
   background-color: #0000ff;
   color: #fff;
 }

 .Colored-Pink {
   background-color: #ffc0cb;
   color: red;
 }

 .Colored-Green {
   background-color: #008000;
   color: #0000ff;
 }

 .Colored-Gray {
   background-color: #808080;
   color: #fff;
 }

 .Colored-Purple {
   background-color: #800080;
   color: #fff;
 }


 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }